//colors

$darkgrey: #161616;
$orange: #ed5621;
$green: #2fa99f;
$ice: #e6e6e6;
$white: #FFFFFF;

//fonts

$roboto: 'Roboto', Helvetica, Arial, sans-serif;
$robotolight: 'Roboto Light', Helvetica, Arial, sans-serif;
$robotobold: 'Roboto Bold', Helvetica, Arial, sans-serif;
$open: 'Open Sans', Helvetica, Arial, sans-serif;
$openbold: 'Open Sans Bold', Helvetica, Arial, sans-serif;
$shadow: 'Shadows Into Light', cursive;