@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Shadows+Into+Light');

body{
    background-color: #161616;
    color: white;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;;
}

#loginContainer{
    width: 400px;
    height: auto;
    margin: 0 auto;
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid white;
}

#dashContainer{
    width: 800px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

a{
    text-decoration: underline;
    color: white;
}

a:hover{
    color: #ed5621;
}

h1{
    text-align: center;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #2fa99f;
}

h2{
    text-align: center;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    padding-top: 20px;
}

ul li{
    display: inline-block;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
}

ul{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

form{
    text-align: center;
    padding-top: 40px;
}

textarea{
    background: none;
}

label{
    display: block;
    padding-bottom: 20px;
}

#last_login{
    text-align: center;
    margin-top: 100px;
}

#greeting{
    text-align: center;
    color: #ed5621;
}

#error{
    text-align: center;
    padding-top: 20px;
}

#dashTitle{
    margin-bottom: 40px;
}

#dashWelcome{
    margin-bottom: 0px;
}