@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Shadows+Into+Light');
@import '_vars';

html, body {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth; 
}



/*MENU*/

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $darkgrey;
  height: 100px;
  padding: 1em;
  padding-right: 30px;
}

.top-nav a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: $white;
    font-family: $roboto;
    font-size: calc(16px + 2 * ((100vw - 320px) / 680));
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: $white;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  margin-top: 30px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  
  .menu {
    position: absolute;
    top: 0;
    margin-top: 100px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid $darkgrey;
    height: 2.8em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: $white;
    background-color: $darkgrey;
    overflow: hidden;
  }
}

a{
    cursor: pointer;
}

#logo{
    margin-left: 5%;
}


@media (max-width: 700px) {
    #logo{
        width: 70%;
    }
}



/*BANNER*/

.greenBox{
    height: 28px;
    background-color: $green;
}

@media (max-width: 700px) {
    .greenBox{
        height: 20px;
    }
}

#banner1{
    width: 100%;
}



/*VIDEO*/

.videoBox{
    background-color: $ice;
}

.video{
    margin-top: 4%;
}

.youCan{
    color: $white;
    text-align: center;
    background-color: $green;
}

#youCanBox{
    margin-top: 15%;
    padding-bottom: 15%;
}

@media (min-width: 700px) {
    .youCan{
        border-radius: 00px 0px 10px 10px;
    }
    #youCanBox{
        margin-top: 30%;
    }
}

@media (max-width: 700px) {
    .video{
        margin-bottom: 10%;
    }
}

.youCan h1{
    font-family: $open;
    font-weight: bold;
    font-size: calc(15px + 2 * ((100vw - 320px) / 680));
}

.youCan h2{
    font-family: $shadow;
    font-size: calc(24px + 2 * ((100vw - 320px) / 680));
}

.youCan p{
    font-family: $open;
    font-weight: bold;
    font-size: calc(12px + 2 * ((100vw - 320px) / 680));
}

path{
    stroke-dasharray:2300;
    stroke-dashoffset:2300;
    animation: dash 10s linear forwards;
}

@keyframes dash {
to {
stroke-dashoffset: 0;
}
}

@media (max-width: 700px) {
#beat{
margin-bottom: 2%;
}
}


/*SIGN UP*/

.signUp{
    background-color: $orange;
    padding: 5px;
}

.signUp h2{
    font-family: $roboto;
    font-size: calc(18px + 2 * ((100vw - 320px) / 680));
    text-align: center;
    color: $white;
    padding-top: 7px;
}

.signUp:hover{
    background-color: $green;
}



/*DONATION*/

.donationBox{
    background: url(../images/dark_wall.png) 100% repeat;
    padding-bottom: 50px;
    padding-top: 50px;
}

.donationBox h1{
    text-align: center;
    font-family: $roboto;
    font-size: calc(20px + 2 * ((100vw - 320px) / 680));
    color: $white;
    padding: 30px;
}

.donationBox h2{
    text-align: center;
    font-family: $shadow;
    font-size: calc(20px + 2 * ((100vw - 320px) / 680));
    color: $white;
    border-bottom: 1.5px solid $orange;
    width: 190px;
    display: block;
    margin: auto;
}

.donationBox p{
    text-align: justify;
    font-family: $robotolight;
    font-size: calc(11px + 2 * ((100vw - 320px) / 680));
    color: $white;
    width: 70%;    
    display: block;
    margin: auto;
    padding-top: 5%;
 
}

#organs{
    width: 100%;
    margin-top: 30px;
    /*visibility: hidden;*/
}

@media (max-width: 700px) {
    .donationBox h2{
       padding-top: 5%;
    }
    #organs{
       margin-top: 5%;
    }
}



/*SHARE YOUR STORY*/

.share{
    background-color: $green;
    padding: 5px;
}

.share h2{
    font-family: $roboto;
    font-size: calc(18px + 2 * ((100vw - 320px) / 680));
    text-align: center;
    color: $white;
    padding-top: 7px;
}

.share:hover{
    background-color: $orange;
}



/*FACTS*/

.factsBox{
    background: url(../images/facts_bg.jpg) 50% no-repeat;
    background-image: center;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 70px;
}

.facts h2{
    text-align: center;
    font-family: $shadow;
    font-size: calc(24px + 4 * ((100vw - 320px) / 680));
    color: $darkgrey;
    border-bottom: 1.5px solid $green;
    width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

.facts p{
    text-align: justify;
    font-family: $roboto;
    font-size: calc(14px + 2 * ((100vw - 320px) / 680));
    color: $darkgrey;
    width: 70%;   
    margin: 0 auto;
    padding-top: 15px;
}



/*ABOUT*/

.aboutBox{
    background: url(../images/dark_wall.png) 100% repeat;
    padding-bottom: 50px;
    padding-top: 50px;
}

.icon{
    width: 15%;
    display: block;
    margin: auto;
}

.aboutBox h2{
    text-align: center;
    font-family: $shadow;
    font-size: calc(20px + 2 * ((100vw - 320px) / 680));
    color: $white;
    border-bottom: 1.5px solid $orange;
    width: 120px;
    display: block;
    margin: auto;
}

.aboutBox p{
    text-align: justify;
    font-family: $robotolight;
    font-size: calc(11px + 2 * ((100vw - 320px) / 680));
    color: $white;
    width: 70%;    
    display: block;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

@media (max-width: 700px) {
    .icon{
        width: 20%;
    }
}



/*GET INVOLVED*/

.involvedBox{
    background-color: $ice;
}

.newEvents h2{
    text-align: center;
    font-family: $shadow;
    font-size: calc(20px + 4 * ((100vw - 320px) / 680));
    color: $darkgrey;
    border-bottom: 1.5px solid $orange;
    width: 180px;
    display: block;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 25px;
}

.involvedBox p{
    text-align: justify;
    font-family: $robotolight;
    font-size: calc(14px + 2 * ((100vw - 320px) / 680));
    color: $darkgrey;
    width: 70%;    
    margin: 0 auto;
    padding-top: 15px;
}

.poster{
    width: 40%;
    display: flex;
    margin: auto;
}

#social{
    background: url(../images/dark_wall.png) 100% repeat;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

@media (min-width: 700px) {
    #social{
    margin-right: 10%;
    height: auto;
    padding-bottom: 15%;
}
}

.socialIcon{
    width: 12%;
}

.socialBox h2{
    text-align: center;
    font-family: $shadow;
    font-size: calc(20px + 4 * ((100vw - 320px) / 680));
    color: $white;
    border-bottom: 1.5px solid $orange;
    width: 180px;
    display: block;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 25px;
}

.socialBox p{
    text-align: center;
    font-family: $robotolight;
    font-size: calc(14px + 2 * ((100vw - 320px) / 680));
    color: $white;  
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

#social a p{
    background-color: $orange;
    padding: 10px 0px 10px 0px;
    font-family: $openbold;
    font-size: calc(12px + 2 * ((100vw - 320px) / 680));
    color: $white;
    width: 220px;
    border-radius: 10px;
}

#social a p:hover{
    background-color: $orange;
    color: $darkgrey;
}

@media (max-width: 700px) {
    .newEvents {
        margin-bottom: 35px;
    }
}



/*FOOTER*/

.footerBox{
    background-color: $darkgrey;
    padding-top: 35px;
    padding-bottom: 35px;
}

.logoFooter{
    margin: 0 auto;
    text-align: center;
}

.copyrights {
    margin: 0 auto;
    text-align: center;
    font-family: $open;
    font-size: calc(10px + 2 * ((100vw - 320px) / 680));
    color: $white;
    margin-top: 50px;
}

.logos{
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.logos p{
    margin: 0 auto;
    text-align: center;
    font-family: $robotobold;
    font-size: calc(10px + 2 * ((100vw - 320px) / 680));
    color: $white;
}

@media (max-width: 700px) {
    .logos{
        margin-bottom: 45px;
    }
}



//Animations

@-webkit-keyframes fadeIn {
    to {
      opacity: 1; } }
  
  @keyframes fadeIn {
    to {
      opacity: 1; } }
  
  .js-animation {
    opacity: 0; }
  
  .fade-in {
    -webkit-animation: fade-in 1.6s;
    animation: fade-in 1.6s; }
  
  @-webkit-keyframes fade-in {
    from {
      -webkit-transform: translateY(80px);
      transform: translateY(80px);
      opacity: 0; }
    to {
      opacity: 1; } }
  
  @keyframes fade-in {
    from {
      -webkit-transform: translateY(80px);
      transform: translateY(80px);
      opacity: 0; }
    to {
      opacity: 1; } }



//top

.back-top {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 600;
    cursor: pointer; }


    .back-top a {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background: $green;
    width: 3rem;
    height: 3rem;
    border-radius: 5px 0px 0px 0px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 3.5rem;
    font-family: $robotobold;
    color: $white; }

    @media screen and (min-width: 600px) {
    .back-top a {
      display: block; } }

    .back-top a .iconTop {
    line-height: inherit;
    font-size: 1.0rem;}

    @media screen and (min-width: 600px) {
    .back-top.visible {
    display: block;
    -webkit-animation: fadeIn 0.3s ease-in-out 1 forwards;
    animation: fadeIn 0.3s ease-in-out 1 forwards;} }
    
    @media screen and (max-width: 600px) {
        .back-top a {
          display: block; } }
        .back-top a:hover {
        background-color: $orange; }
        .back-top a .iconTop {
        line-height: inherit;
        font-size: 1.0rem;}
        @media screen and (max-width: 600px) {
        .back-top.visible {
        display: block;
        -webkit-animation: fadeIn 0.3s ease-in-out 1 forwards;
        animation: fadeIn 0.3s ease-in-out 1 forwards;} }



//admin login

.adminContainer{
    background-color: $ice;
    color: $darkgrey;
    font-family: $open;
}

#loginContainer{
    width: 400px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 2px solid $green;
}

#dashContainer{
    width: 800px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.adminContainer a{
    text-decoration: underline;
    color: $darkgrey;
}

.adminContainer a:hover{
    color: $orange;
}

.adminContainer h1{
    text-align: center;
    font-family: $open;
    color: $green;
}

.adminContainer h2{
    text-align: center;
    font-family: $open;
    padding-top: 20px;
}

.adminContainer ul li{
    display: inline-block;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
}

.adminContainer ul{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.adminContainer form{
    text-align: center;
    padding-top: 40px;
}

.adminContainer textarea{
    background: none;
}

.adminContainer label{
    display: block;
    padding-bottom: 20px;
}

#last_login{
    text-align: center;
    margin-top: 100px;
}

#greeting{
    text-align: center;
    color: $orange;
}

#error{
    text-align: center;
    padding-top: 20px;
}

#dashTitle{
    margin-bottom: 40px;
}

#dashWelcome{
    margin-bottom: 0px;
}

#deleteContainer{
    padding-top: 40px;
}

#formContainer textarea{
    min-height: 150px;
}

#formContainer label{
    padding-bottom: 1%;
    padding-top: 1%;
}

#formContainer input, #formContainer select{
    margin-bottom: 3%;
}

#formContainer button{
    background: $green;
    color: $white;
    padding: 2%;
    cursor: pointer;
    margin-bottom: 5%;
}

#formContainer h3{
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: calc(18px + 2 * ((100vw - 320px) / 680));
    text-align: center;
}

.success p{
    color: $green;
    font-family: $open;
}

.error p{
    color: $orange;
    font-family: $open;
}





//stories

#storiesForm{
    button{
        background: $darkgrey;
        color: $white;
        padding: 2%;
        cursor: pointer;
        margin-bottom: 5%;
    }
}

#storiesFormTitle{
    padding-bottom: 2%;
}

#storiesFormContainer{
    color: $white;
    width: 100%;
    height: auto;
    background: $orange;
    padding-top: 5%;
    padding-bottom: 3%;
    label{
        color: $white;
    }
}

#storiesMain{
    h3{
        margin-top: 3%;
        margin-bottom: 1%;
        font-family: $open;
        font-size: calc(46px + (46 - 30) * ((100vw - 300px) / (1600 - 300)));
    }
    h4{
        margin-bottom: 3%;
        font-family: $open;
        font-size: calc(18px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    }
    p{
        margin-bottom: 5%;
        font-family: $open;
        font-size: calc(14px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
    }
}

#stories{
    margin-bottom: 5%;
}

#storyIntro{
    margin-top: 3%;
    margin-bottom: 5%;
}

#storyText{
    margin-bottom: 5%;
}